<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>com.ainkrad.plugin.quest</string>
    <key>CFBundleName</key><string>QuestPlugin</string>
    <key>CFBundleExecutable</key><string>QuestPlugin</string>
    <key>CFBundlePackageType</key><string>BNDL</string>
    <key>NSPrincipalClass</key><string>QuestEntryPoint</string>
    <key>AinkradAppID</key><string>quest</string>
    <key>AinkradDisplayName</key><string>Quest</string>
    <key>AinkradIconSymbol</key><string>checklist</string>
    <key>AinkradAPIVersion</key><integer>8</integer>
    <key>AinkradPresentation</key><string>pane</string>
    <key>AinkradMode</key><string>basic</string>
</dict>
</plist>
